ul li a{
    text-decoration: none;

}

.footer{
    padding-top:1em;
    color: #b6c1df;

  
  }


@media screen and (max-width:768px){
        .fs-1rem{
            font-size: 0.8rem !important;
        }
}