.transparent-bg {
    background-color: transparent !important;
  }
  
  /* navbarStyles.css */
/* .transparent-bg::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: -1;
  } */
  
  .colored-bg {
    background-color: #212529 !important;
  }

  .nav-link:hover{
    color:#d4062a !important;
  }


  .nav-link::after{
    content: '' !important;
    /* text-decoration: underline !important; */
    /* color:white !important; */
    width: 0% !important;
    height:2px;
    transition: all 0.2s !important;
    display: block !important; 
    background-color: transparent !important;
    color:#d4062a !important;
  }

  .nav-link:hover::after{
   
  width: 100% !important;
  background-color: #d4062a !important;
  /* color:#d4062a !important; */
  
    
  }


  /* li.nav-item::after {
    content: 'writing rubbish' !important;
    text-decoration: underline !important;
    color: white !important;
    width:100%;
} */



  /* .home{
    margin-top:0;
    padding-top: 0;
  } */