  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
  body{
    font-family: 'Poppins',sans-serif !important;
    font-weight: 400;
  }


.logo{
  width:5em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.vertical-text {
  display: inline-block;
  transform: rotate(-90deg);
  transform-origin: right bottom;
  white-space: nowrap;
  bottom:0;
  right:0;
}

 #header{
  /* background-image: url("./whitebackground.png"); */
  /* position: relative; */
  height:500px;
  /* background: linear-gradient(103deg, rgba(2,0,36,1) 0%, rgba(20,20,22,0.6643032212885154) 21%, rgba(17,20,20,0.6474964985994398) 75%, rgba(17,20,20,1) 100%); */
  /* background-blend-mode: multiply; */
  /* background-size: cover;  */
  /* background-repeat: no-repeat; */

} 

.gradient-image-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("./whitebackground.png");
  background: linear-gradient(103deg, rgba(2,0,36,1) 0%, rgba(20,20,22,0.6643032212885154) 21%, rgba(17,20,20,0.6474964985994398) 75%, rgba(17,20,20,1) 100%);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}



@media screen and (max-width:768px){
  .gradient-image-overlay{
    /* background: rgb(255,253,249); */
background: linear-gradient(-180deg, rgba(255,253,249,0.5690651260504201) 0%, rgba(56,61,59,0.9108018207282913) 71%);
  }

}
  





