.logo{
  width:5em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.vertical-text {
  display: inline-block;
  transform: rotate(-90deg);
  transform-origin: right bottom;
  white-space: nowrap;
}

 #header{
  /* background-image: url("./whitebackground.png"); */
  background-size: 'cover'; 
  background-repeat: 'no-repeat';
  height:'500px';
} 