  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@400;500;700&display=swap');

  
  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;0,600;0,700;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



  .searchBox {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform:  translate(-50%,50%); */
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;

}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: #2f3640;
  color : #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 20px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}


  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 70px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }

  /* .pos-abs{
position: absolute;
top: 0 !important;
left: 1259px !important;
bottom: 0 !important;
  } */


  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }


  input[type="radio"] {
    /* display: none; */
    /* visibility:hidden; */
    appearance: none;
  }
/* 
  input[type="date"]{
    appearance: none;
  } */

 #date-input{
  display: none;
 }

  .star{
    cursor: pointer;
    transition: color 200ms;
  }


/* .liked-btn{
  color:#FF9010 !important;
} */

.liked-btn:hover{
  color:#FF9010 !important;
}
  


.light-gray{
  color:#9197a5 !important;
}

.input-group-text{
  height:40px;
  cursor:pointer;
}

.h-3px{
  /* height:3px !important; */
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#FFFF00;
  height: 1px;
}

.ql-editor::before { 
  content: attr(data-placeholder);
}













*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
  body{
    font-family: 'Poppins',sans-serif !important;
    font-weight: 400;
    /* background-color: #14181c !important; */
    background-color: #2b2d41 !important;
  }

  
.font-poppins{
  font-family: 'Poppins',sans-serif !important;
}  
.font-vesper {
  font-family: 'Vesper Libre', serif !important;
}  

.font-phudu {
  font-family: 'Phudu', cursive !important;
}

.font-cormorant{
  font-family: 'Cormorant Garamond', serif !important;
  font-weight: 600 !important;
}

.bg-space-cadet{
background-color:#2b2d41;
}
.space-cadet{
  color:#2b2d41 !important;
}
.bg-charcoal{
background-color:#404559 !important;
}

.charcoal{
  color:#404559 !important;
}
.bg-payne-gray{
background-color:#535b6f !important;
}

.payne-gray{
  color:#535b6f !important;
}
.bg-fire-engine-red{
background-color:#d4062a !important;
}
.fire-engine-red{
  color:#d4062a !important;
}
.light-charcoal{
  color: #b6c1df !important;
}

.bg-lettebox{
  background-color:#14181c;
}

.bg-light-charcoal{
  background-color: #b6c1df !important;
}

.bg-about-red{
  background-color: inherit;
}

.bg-about-red:hover{
 background-color: #d4062a !important;
 color:#fff !important;
}


.bg-about-orange{
  background-color: inherit;
}

.bg-about-orange:hover{
 background-color: #f77f00 !important;
 color:#fff !important;
}

.bg-about-blue{
  background-color: inherit;
}

.about-blue{
  color:#3A86FF !important;
}


.bg-about-green{
  background-attachment:#00971B !important;
}

.about-green{
  color:#00971B !important;
}


.about-orange{
  color:#f77f00 !important;
}


textarea{
  background-color:#535b6f !important;
  color: #b6c1df;
}

.bg-about-blue:hover{
 background-color: #3a86ff !important;
 color:#fff !important;
}



.no-link-decoration{
  text-decoration: none !important;  
}

.logo{
  width:5em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.height-2em{
  height: 2em !important;
}

.fs-1rem{
  font-size: 1rem;
}

.straight-line{
  border: 1px solid #b6c1df;
  border-top:none;
  border-right:none;
  border-bottom: none;
  height:3rem !important;
  
}
.vertical-text {
  display: inline-block;
  transform: rotate(-90deg);
  transform-origin: bottom top ;
  white-space: nowrap;
  /* top:calc(100% - 3px); */
  right:0;
  bottom:12px;
  /* margin-right: 3px; */
  /* padding: 3px; */
  

}

.iframe-container{
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.iframe-container iframe{
position: absolute;
top: 0;
left: 0;
width:100%;
height: 100%;

}


.fs-p-10px{
 font-size: 10px !important;
 padding:5px !important;
}

.height-100vh{
    height: 100vh !important;
}  


 #header{
  height:100vh;
} 

.img-5em-8em{
  width:5em !important;
  height:8em !important;
}

.img-10em-13em{
  width:14.375rem !important;
  height: 21.563rem !important;
}

.icon-green{
  color: #03AB2E !important;
}

.icon-blue{
  color: #40BCF4 !important;
}

.icon-pink{
  color: #FF80E8 !important;
}

.gradient-image-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}



h1-mod{
  font-size: 4em;
}


.placeholder-signup{
  background-color: #b6c1df !important;
  
}


.carousel-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.carousel-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    103deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(20, 20, 22, 0.6643032212885154) 21%,
    rgba(17, 20, 20, 0.6474964985994398) 75%,
    rgba(17, 20, 20, 1) 100%
  );
  z-index: 1;
}

.lg-bg-repeat-round{
  background-repeat: round !important;
}





@media screen and (max-width:768px){
  .gradient-image-overlay{
    background: rgb(250,247,242);
background: linear-gradient(-180deg, rgba(255,253,249,0.5690651260504201) 0%, rgba(56,61,59,0.9108018207282913) 71%);
/* background: linear-gradient(180deg, rgba(250,247,242,0) 0%, rgba(43,45,65,1) 9%); */
  }

 .bg-pos-center{
  background-position: center !important;
 }

  .lg-bg-img{
  background-image: "linear-gradient(-180deg, rgba(250,247,242,0) 57%, rgba(43,45,65,1) 91%),url('https://image.tmdb.org/t/p/w500//35z8hWuzfFUZQaYog8E9LsXW3iI.jpg')" !important;
  background-position: center;
  
}

.bg-no-repeat{
  background-repeat: no-repeat !important;
}

#user-page{
  font-size: 50% !important;
}

#prof-name{
    font-size: 50% !important;
}
  body{
    font-size: 70% !important;
  }

  .resizze{
    width: clamp(200px, 100%, 800px);
  }


.height-50vh{
  height: 50vh !important;
}  

}
  





